#container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Exo 2", sans-serif;
}
  
.btn {
    width: 100px; 
    margin: 10px 0px;
}

#display{
    background-color: white;
}

#productName p{
    color: white;
    display: flex;
    align-items: center;
}